<div class="columns">

  <!-- NAME -->
  <div class="column">
    <label class="label">Name</label>
    <div class="control">
      <input class="input"
            type="text"
            name="annotator_name"
            required
            value="{% if draft %}{{ draft.annotator_name }}{% else %}{{ user.username }}{% endif %}"
            readonly>
    </div>
  </div>

  <!-- Zone -->
  <div class="column">
    <label class="label">Zone</label>
    <input type="hidden"
           name="Zone"
           value="{% if draft %}{{ draft.Zone }}{% else %}{{ user.Zone }}{% endif %}">
    <div class="control select is-fullwidth">
      <select id="Zone"
          required
          onchange="updateSubregion()"
          disabled>

        {% for Zone in Zone_Subregion_map.keys() %}
          <option value="{{ Zone }}"
            {% if draft and draft.Zone == Zone %}
              selected
            {% elif not draft and user.Zone == Zone %}
              selected
            {% endif %}>
            {{ Zone }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>

  <!-- Subregion -->
  <div class="column">
    <label class="label">SubZone</label>
    <input type="hidden"
           name="Subregion"
           value="{% if draft %}{{ draft.Subregion }}{% else %}{{ user.Subregion }}{% endif %}">
    <div class="control select is-fullwidth">
      <select id="Subregion" required disabled>
        <option value="">Select subZone</option>
      </select>
    </div>
  </div>

</div>
