<div class="columns">

  <!-- NAME -->
  <div class="column">
    <label class="label">Name</label>
    <div class="control">
      <input class="input"
            type="text"
            name="annotator_name"
            required
            value="{% if draft %}{{ draft.annotator_name }}{% else %}{{ user.username }}{% endif %}"
            readonly>
    </div>
  </div>

  <!--Region -->
  <div class="column">
    <label class="label">Region</label>
    <input type="hidden"
           name="Region"
           value="{% if draft %}{{ draft.Region }}{% else %}{{ user.Region }}{% endif %}">
    <div class="control select is-fullwidth">
      <select id="Region"
          required
          onchange="updateState()"
          disabled>

        {% for Region in region_state_map.keys() %}
          <option value="{{ Region }}"
            {% if draft and draft.Region == Region %}
              selected
            {% elif not draft and user.Region == Region %}
              selected
            {% endif %}>
            {{ Region }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>

  <!-- State -->
  <div class="column">
    <label class="label">State</label>
    <input type="hidden"
           name="State"
           value="{% if draft %}{{ draft.State }}{% else %}{{ user.State }}{% endif %}">
    <div class="control select is-fullwidth">
      <select id="State" required disabled>
        <option value="">Select State</option>
      </select>
    </div>
  </div>

</div>
